@import 'susy';
@import 'plugins/svg-grid';

/*
  ==============================================================================
  COLORS
  ==============================================================================
*/

$gray-1: hsla(0, 0%, 97%, 1);
$gray-2: hsla(0, 0%, 93%, 1);
$turquoise: hsl(180, 50%, 80%);

/*
  ==============================================================================
  GRID
  ==============================================================================
*/

$susy: (
  'columns': susy-repeat(12),
  'gutters': 0.25,
  'spread': 'narrow',
  'container-spread': 'narrow',
  'svg-grid-colors': $turquoise
);

.main-content,
.sub-content {
  background: susy-svg-grid() no-repeat scroll;
}

.clearfix:after {
  content: " ";
  display: table;
  clear: both;
}

/*
  ==============================================================================
  GLOBAL
  ==============================================================================
*/

html,
body {
  height: 100%;
}

body {
  margin: 0;
  background: $gray-1;
}

*,
*:before,
*:after {
  box-sizing: border-box;
} 

.container {
  // width: 1170px;
  width: 900px;
  height: 100%;
  margin: 0 auto;
}

.no-footer-wrapper {
  min-height: 100%;
  margin-bottom: -50px;
}

.no-footer-wrapper:after {
  content: "";
  display: block;
  height: 50px;
}

/*
  ==============================================================================
  CONTENT
  ==============================================================================
*/

header,
.main-content,
.sub-content {
  margin-bottom: gutter();
}

header,
section,
aside,
footer {
  text-align: center;
}

header {
  display: table;
  width: 100%;
  height: 150px;
  background: $gray-2;

  code {
    display: table-cell;
    vertical-align: middle;;
  }
}

.main-section,
aside {
  padding: 120px 0;
}

.main-section {
  float: left;
  width: span(8);
  margin-right: gutter();
  border: 1px solid brown;
}

aside {
  float: left;
  width: span(4);
  border: 1px solid orange;
  text-align: center;
}

.sub-section div {
  float: left;
  width: span(4);
  margin-right: gutter();
  border: 1px solid black;
  padding: 30px 0;

  &:last-child {
    margin-right: 0;
  }
}

code {
  font-size: 18px;
}

footer {
  display: table;
  width: 100%;
  height: 50px;
  background: $gray-2;

  code {
    display: table-cell;
    vertical-align: middle;
  }
}